.myfield .myfield {
	float: left;
	width: 50%;
	padding: 0 1em;
  }
  
  fieldset .myfield:nth-child(even) {
	clear: left;
  }
  
  form > p {
	padding: 1em;
  }
  #submitted {
	visibility: hidden;
  }
  #loading {
	visibility: hidden;
  }
  .form-control {
    width: 75%;
  }
  .field-array-of-string {
    width: 100%;
  }
  legend#root_familyMembers__title {
    font-size: 14px;
    font-weight: bold;
  }
  legend#root_bikes__title {
    font-size: 14px;
    font-weight: bold;
  }
  select.form-control {
    width: 75%;
  }
  input.form-control {
    width: 75%;
  }
  .row {
    width: 75%;
  }